<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediatheque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Bienvenue à la Médiathèque</h1>
    <nav>
        <ul>
            <li><a href="/abonne">Abonnés</a></li>
            <li><a href="/document">Documents</a></li>
            <li><a href="/emprunt">Emprunts</a></li>
        </ul>
    </nav>
</body>
</html>
